/*TAGS STYLE*/

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #1c2a48;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: all 0.5s ease;
}

.tag::before {
  background: #eee;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #eee;
  border-bottom: 13px solid transparent ;
  border-left: 10px solid #1c2a48;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s ease;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
  border-color: transparent transparent transparent crimson;
}




.tags1 {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags1 li {
  float: left; 
}

.tag1 {
  background: #1c2a48;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: all 0.5s ease;
}

.tag1::before {
  background: #eee;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag1::after {
  background: #eee;
  border-bottom: 13px solid transparent ;
  border-left: 10px solid #1c2a48;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s ease;
}

.tag1:hover {
  background-color: crimson;
  color: white;
}

.tag1:hover::after {
  border-color: transparent transparent transparent crimson;
}

/*TAGS STYLE END*/
/*gradient button */
.btn-grad {background-color: #002878;
  background-image: linear-gradient(45deg, #33d9de 0%, #33d9de 55%, #243f81 90%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  padding: 12px 48px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: all 0.5s ease;}
.btn-grad:hover {  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;}
/*gradient button END*/
/*custom returntotop css*/
  #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/*custom returntotop css end*/
                
/*custom dataTable design css*/
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after {
   padding: 5px;
}
.dataTables_wrapper .mdb-select {
    border: none;
}
.dataTables_wrapper .mdb-select.form-control {
    padding-top: 0;
    margin-top: -1rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    width: 100px;
}
.dataTables_length label {
    display: flex;
    justify-content: left;
}
.dataTables_filter label {
    margin-bottom: 0;
}
.dataTables_filter label input.form-control {
    margin-top: -0.6rem;
    padding-bottom: 0;
}
table.dataTable {
    margin-bottom: 3rem!important;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
}
      

/*custom dataTable design css end*/

/*LOGIN-modal nad register modal css*/
.light-blue.darken-3 {
    background-color: #0277bd!important;
}
.nav-tabs {
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    background-color: #2BBBAD;
    z-index: 2;
    position: relative;
    border-radius: 2px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
  color: white;
    border-radius: 0px;
     transition: all 0.5s ease;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    color: #495057;
    background-color: #fff;
     transition: all 0.5s ease;

}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-radius: 0px;

}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    z-index: 1
}

/*LOGIN-modal nad register modal css END*/

.pre-md {
    background-color: #222;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 1.25;
    word-break: break-all;
    word-wrap: break-word;
    color: #6cf;
}

